<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between mb-5">
  <a class="navbar-brand" href="/">BIG DATA AI-POWERED BLOCKCHAIN ANOMALY DETECTION</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notifications">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/arrow">Arrow</a>
      </li>
    </ul>


  </div>
</nav>
