<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <h1 class="display-3">Home Page</h1>
        <p class="lead">Welcome to the Big Data Ai Powered Blockchain Anomaly Detection project! </p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Anomalies detected</div>
        <div class="card-body">
          <h4 class="card-title">Detected anomalies</h4>
          <p class="card-text">Detected {{this.anomalies}} anomalies</p>
        </div>
      </div>
    </div>
  </div>
</div>
